/* Page-header Section Start */

#page-header {
    background-image: url("/img/banner/b19.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-header h2, #page-header p {
  color: #ffffff;
}

/* Page Header Section End */

/* Blog section Start */

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    width: 100%;
    display: flex;
    align-items: center;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog 

/* Blog section Start */

/* Pagination Section Start */

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

/* Pagination Section End */